{{#each players as |player|}}
  <div class="player">
    <div class="score">
      {{score-display player.score}}
    </div>
    {{#if player.editingName}}
      {{input enter="saveName" placeholder=player.name value=player.name class="edit-name" }}
    {{else}}
      <div class="name" {{action "editName" player}}>
        {{player.name}}
      </div>
    {{/if}}
    {{#if player.active}}
      <button class="deduct" {{action "deduct" player}}>-</button>
      <button class="assign" {{action "assign" player}}>+</button>
    {{/if}}
  </div>
{{/each}}
